:root {
    --primary-color: #484e5e;
    --secondary-color: #fefffa;
    --tertiary-color: #fde4cf;
    --main-padding: 10%;
}

p, h1, h2 {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.main-box {
    display: flex;
    align-content: center;
    align-items: center;
}

.main-left-box {
    flex: 40%;
    height: 176.4dvh;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.main-right-box {
    flex: 60%;
    height: 100%;
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

.myimage {
    border-radius: 120px;
    margin-bottom: -55px;
    margin-left: 7%;
}

.main-left-box-element {
    padding: var(--main-padding);
}

.main-right-box-element {
    padding: var(--main-padding);
}

.left-title {
    margin-bottom: 30px;
}

.right-title {
    font-weight: 800;
    margin-bottom: -5px;
}

.left-text {
    font-family:Arial Narrow;
}

.name {
    font-size: 50px;
    margin-bottom: -5px;

}

.divider {
    height: 4px;
    border-radius: 5px;
    background-color: var(--secondary-color);
    margin-bottom: 50px;
}

.profession {
    font-weight: lighter;
    font-size: 20px;
    letter-spacing: 3px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
}

.main-left-box-element-text {
    margin-bottom: 60px;
}

.right-section {
    padding: 1.1%;
    background-color: var(--tertiary-color);
    text-indent: 20px;
    font-size: 25px;
    font-weight:800;
    margin-bottom: 30px;
}